<nav class="navbar navbar-default navbar-static-top navbar-inverse">
  <div class="container">
    <ul class="nav navbar-nav">
      <li class="active">
        <a href="/"><span class="glyphicon glyphicon-home"></span> Home</a>
      </li>
      <li>
        <a href="https://www.whatsn3xt.com" target="_blank"><span class="glyphicon glyphicon-user"></span> What's n3xt?</a>
      </li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class="glyphicon glyphicon-info-sign"></span> Code<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="github.com/webelectric/spark">Spark on Github</a></li>
            <li><a href="github.com/webelectric/spark-ent">Ent on Github</a></li>
            
          </ul>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class="navbar-right">
        <a href="https://articles.whatsn3xt.com/" target="_blank"><span class="glyphicon glyphicon-book"></span> N3xt Gazette</a>
      </li>
    </ul>
  </div>
</nav>
