<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="/logo_01_128.png">
    </a>
    <h1>Spark Ent 0: N3xt Perma Peer Home</h1>
    <p>This is the HTTP-compatible page for Spark's Ent Peer Zero, the first of its kind. Spark's Ent Peers maintain network information across standard peer lifetimes, providing a reliable out-of-band method for initialization and verification.</p>
    <a type="button" class="btn btn-lg btn-primary" href="https://github.com/heroku/node-js-getting-started"><span class="glyphicon glyphicon-download"></span> Source on GitHub</a>
  </div>
</div>
<div class="container">
  <div class="alert alert-info text-center" role="alert">

      For more on the Spark protocol, Lumen, and related applications such as n3xt you can start with

      <a href="https://articles.whatsn3xt.com/can-email-be-reinvented-were-about-to-find-out-5126b0f9ef89" class="alert-link">Can email be reinvented? We’re about to find out.</a>

  </div>
  <hr>
  <div class="row">
    <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-info-sign"></span> Reigniting the Internet’s end-to-end, peer-to-peer architecture series</h3>
      <ul>
        <li>Part I: <a href="https://articles.whatsn3xt.com/reigniting-the-internets-end-to-end-peer-to-peer-architecture-part-i-a-bit-of-history-ff4932a629d">A bit of history.</a></li>

<li>Part II: <a href="https://articles.whatsn3xt.com/reigniting-the-internets-end-to-end-peer-to-peer-architecture-part-ii-introducing-spark-f7760eccc5b">Introducing Spark.</a></li>


      </ul>
    </div>
    <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-link"></span> Next Steps</h3>
      <ul>
        <li>Talk to the node!</li>
        <li>More details coming soon.</li>
        <!-- <ul>
          <li><code>git clone https://github.com/heroku/node-js-getting-started.git</code> - this will create a local copy of the source code for the app</li>
          <li><code>cd node-js-getting-started</code> - change directory into the local source code repository</li>
          <li><code>heroku git:remote -a &lt;your-app-name></code> - associate the Heroku app with the repository</li>
          <li>You'll now be set up to run the app locally, or <a href="https://devcenter.heroku.com/articles/getting-started-with-nodejs#push-local-changes">deploy changes</a> to Heroku</li>
        </ul> -->
      </ul>
      <!-- <h3><span class="glyphicon glyphicon-link"></span> Helpful Links</h3>
      <ul>
        <li><a href="https://www.heroku.com/home">Heroku</a></li>
        <li><a href="https://devcenter.heroku.com/">Heroku Dev Center</a></li>
        <li><a href="https://devcenter.heroku.com/articles/getting-started-with-nodejs">Getting Started with Node on Heroku</a></li>
        <li><a href="https://devcenter.heroku.com/articles/deploying-nodejs">Deploying Node Apps on Heroku</a></li> -->
      </ul>
    </div>
  </div> <!-- row -->
   <div class="alert alert-info text-center" role="alert">
    Copyright The Web Electric Corp (c) 2018
  </div>
</div>


</body>
</html>
